lesson3/node-red-alert_solution
[{"id":"b5f6830c.8bccd8","type":"tab","label":"Alert sol","disabled":false,"info":""},{"id":"eab4fa00.e64f58","type":"http request","z":"b5f6830c.8bccd8","name":"","method":"GET","ret":"txt","url":"","tls":"","x":530,"y":200,"wires":[["8f001e2d.000c7"]]},{"id":"b38bed98.d77fc","type":"function","z":"b5f6830c.8bccd8","name":"CreateHttpRequest","func":"var API_KEY = \"92B1R1G9K62NLOB3\"\n\nvar newmsg = {};\n\nnewmsg.url = \"https://api.thingspeak.com/channels/164890/fields/1.json?results=10\";\n\nreturn newmsg;\n","outputs":1,"noerr":0,"x":310,"y":200,"wires":[["eab4fa00.e64f58"]]},{"id":"ca45532d.26d3d","type":"inject","z":"b5f6830c.8bccd8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":100,"y":200,"wires":[["b38bed98.d77fc"]]},{"id":"c8955eb2.8afdf","type":"debug","z":"b5f6830c.8bccd8","name":"","active":true,"console":"false","complete":"payload","x":630,"y":400,"wires":[]},{"id":"7c4716a4.5e13c8","type":"function","z":"b5f6830c.8bccd8","name":"ComputeAverage","func":"/* DO NOT MODIFY */\nvar arr = JSON.parse(JSON.stringify(msg.payload.feeds));\nvar num_arr = [];\nfor(i=0;i<10;i++){\n    num_arr[i] = Number(arr[i].field1);  \n}\n/*---------------*/\n\n//NOW num_arr CONTAINS THE LAST 10 VALUES\n//OF YOUR FEED\n\nvar avg = 0;\n\n//INSERT HERE THE CODE TO COMPUTE THE AVERAGE\nfor(i=0;i<10;i++){\n    avg+=num_arr[i];\n}\navg = avg/10;\n\n/*DO NOT MODIFY */\nif(avg>30){\n    msg.payload = \"Alert! The CPU is \" + avg;\n    msg.topic = \"CPU report\";\n    return msg;\n}\nelse\n    return null;\n/*-------------*/","outputs":1,"noerr":0,"x":410,"y":320,"wires":[["c8955eb2.8afdf","c6c48ec5.368d6"]]},{"id":"8f001e2d.000c7","type":"json","z":"b5f6830c.8bccd8","name":"","x":170,"y":320,"wires":[["7c4716a4.5e13c8"]]},{"id":"c6c48ec5.368d6","type":"e-mail","z":"b5f6830c.8bccd8","server":"smtp.gmail.com","port":"465","secure":true,"name":"","dname":"","x":610,"y":260,"wires":[]}]
