lesson3/node-red-alert_template
[{"id":"82f24a7a.8563e","type":"http request","z":"b804aeaf.6d48a8","name":"","method":"GET","ret":"txt","url":"","tls":"","x":470,"y":180,"wires":[["5b49d52d.891efc"]]},{"id":"d4fb9cfa.2ea228","type":"function","z":"b804aeaf.6d48a8","name":"CreateHttpRequest","func":"// INSERT HERE THE URL FOR GETTING THE LAST 10\n// SAMPLES OF YOUR CPU CHANNEL\nmsg.url = \"\";\n\n/* DO NOT MODIFY*/\nreturn msg;\n/*--------------*/\n","outputs":1,"noerr":0,"x":281,"y":180,"wires":[["82f24a7a.8563e"]]},{"id":"c75fb7a.d7b97c8","type":"inject","z":"b804aeaf.6d48a8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":102,"y":181,"wires":[["d4fb9cfa.2ea228"]]},{"id":"b2657bd1.88b37","type":"debug","z":"b804aeaf.6d48a8","name":"","active":true,"console":"false","complete":"payload","x":1001.333381652832,"y":262.99998474121094,"wires":[]},{"id":"e3a7944e.967e1","type":"function","z":"b804aeaf.6d48a8","name":"ComputeAverage","func":"/* DO NOT MODIFY */\nvar arr = JSON.parse(JSON.stringify(msg.payload.feeds));\nvar num_arr = [];\nfor(i=0;i<10;i++){\n    num_arr[i] = Number(arr[i].field1);  \n}\n/*---------------*/\n\n//NOW num_arr CONTAINS THE LAST 10 VALUES\n//OF YOUR FEED\n\nvar avg = 0;\n\n//INSERT HERE THE CODE TO COMPUTE THE AVERAGE\n\n\n/*DO NOT MODIFY */\nif(avg>30){\n    msg.payload = \"Alert! The CPU is \" + avg;\n    msg.topic = \"CPU report\";\n    return msg;\n}\nelse\n    return null;\n/*-------------*/","outputs":1,"noerr":0,"x":776.9999732971191,"y":180.44443893432617,"wires":[["b2657bd1.88b37","173d4369.384d6d"]]},{"id":"173d4369.384d6d","type":"e-mail","z":"b804aeaf.6d48a8","server":"smtp.gmail.com","port":"465","secure":true,"name":"edoardo.longo@polimi.it","dname":"","x":1033.3333740234375,"y":105.44443893432617,"wires":[]},{"id":"5b49d52d.891efc","type":"json","z":"b804aeaf.6d48a8","name":"","x":614,"y":180,"wires":[["e3a7944e.967e1"]]}]
