lesson4/exec-dashboard-thingspeak
[{"id":"6bb5be64.402eb","type":"tab","label":"exec-dashboard","disabled":false,"info":""},{"id":"95d32217.b9b83","type":"inject","z":"6bb5be64.402eb","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"x":90,"y":100,"wires":[["3dfc58df.a1b448"]]},{"id":"3dfc58df.a1b448","type":"exec","z":"6bb5be64.402eb","command":"free -m | awk 'FNR==2 {print $4 \"\\n\" $3}'","addpay":false,"append":" ","useSpawn":"","timer":"","oldrc":false,"name":"","x":367,"y":99.5,"wires":[["968dc07e.ea4c4","824f82e6.76575"],[],[]]},{"id":"968dc07e.ea4c4","type":"function","z":"6bb5be64.402eb","name":"usage_memory data elaboration","func":"var values = msg.payload.split('\\n');\nvar mem_usage = values[0]/values[1]\nmsg.payload = Math.round(mem_usage*10000)/100\nreturn msg;","outputs":1,"noerr":0,"x":734,"y":86,"wires":[["83d36506.4eb5a8","586ebeb8.e90cb","a425f9a0.982b28"]]},{"id":"a91712a6.b3aad","type":"debug","z":"6bb5be64.402eb","name":"","active":true,"console":"false","complete":"false","x":1053,"y":342,"wires":[]},{"id":"543959b3.872b2","type":"function","z":"6bb5be64.402eb","name":"Thingspeak Message Configuration","func":"var API_KEY = \"YOUR-API-KEY\"\nvar data = msg.payload\nmsg.url = \"https://api.thingspeak.com/update?api_key=\" + API_KEY + \"&field1=\" + data\nreturn msg;","outputs":1,"noerr":0,"x":557,"y":343,"wires":[["f049f593.26a8d"]]},{"id":"f049f593.26a8d","type":"http request","z":"6bb5be64.402eb","name":"","method":"GET","ret":"txt","url":"","tls":"","x":845,"y":342,"wires":[["a91712a6.b3aad"]]},{"id":"83d36506.4eb5a8","type":"delay","z":"6bb5be64.402eb","name":"Message Rate Limiter","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"2","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":270,"y":344,"wires":[["543959b3.872b2"]]},{"id":"824f82e6.76575","type":"debug","z":"6bb5be64.402eb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":670,"y":140,"wires":[]},{"id":"586ebeb8.e90cb","type":"ui_gauge","z":"6bb5be64.402eb","name":"","group":"32ee4f7b.5b2c18","order":0,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1010,"y":40,"wires":[]},{"id":"a425f9a0.982b28","type":"ui_chart","z":"6bb5be64.402eb","name":"","group":"32ee4f7b.5b2c18","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1010,"y":140,"wires":[[],[]]},{"id":"32ee4f7b.5b2c18","type":"ui_group","z":"6bb5be64.402eb","name":"Default","tab":"8929db5c.2fc8a8","disp":true,"width":"6"},{"id":"8929db5c.2fc8a8","type":"ui_tab","z":"6bb5be64.402eb","name":"Home","icon":"dashboard"}]
