lesson4/random-number
[{"id":"6f1dfe95.6f688","type":"inject","z":"a54a2528.803328","name":"start","topic":"random","payload":"","payloadType":"num","repeat":"10","crontab":"","once":true,"x":90,"y":220,"wires":[["3f73faa1.4b896e"]]},{"id":"666fc5e3.44a10c","type":"debug","z":"a54a2528.803328","name":"","active":true,"console":"false","complete":"true","x":589,"y":73,"wires":[]},{"id":"3f73faa1.4b896e","type":"function","z":"a54a2528.803328","name":"create_data","func":"var api_key = \"XXXXXXXXXXXXXXXX\";\nvar data = Math.random()*10;\n\nmsg.url =  \"https://api.thingspeak.com/update?api_key=\"+api_key + \"&field1=\" + data;\n\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":220,"wires":[["e904bd4a.ff4b78"]]},{"id":"e904bd4a.ff4b78","type":"http request","z":"a54a2528.803328","name":"","method":"GET","ret":"txt","url":"","tls":"","x":470,"y":220,"wires":[["666fc5e3.44a10c"]]}]
